<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            background-color: darkslategray;
        }

        p a {
            color: black;
            text-decoration: none;
            background-color: rgb(49, 88, 160);
            padding: 10px;
            border-radius: 10px;
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Welcome to dashboard</h1>
    <p><a href="http://localhost:7500/logout">Logout</a></p>
    <div class="links">
        <table>
            <tr>
                <td>Task_No</td>
                <td>Task_Name</td>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="/task/dynamic_table">Dynamic Table</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td><a href="/task/kuku_cube">Kuku Cube</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="/task/tic_tac_toe">Tic Tac Toe</a></td>
            </tr>
        </table>
    </div>
</body>

</html>